* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
.form {
  background-color: #d5d5d5;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center ;
  justify-content: center;
}
.row_form{

}
.paragra{
background-color:green;
font-size: 40px;
font-weight: 700;
margin-top: 0px;
}


.form button{
font-size:20px;
background: #424242;
font-family: 'Montserrat';
font-weight: 700;
text-align: center;
color: white;
background: #424242;
border: 0.995674px solid #ECECEC;
box-sizing: border-box;
border-radius: 60px;
padding:7px;
width:150px;
}
.form input {
  width: 320px;
  padding: 12px;
  margin: 10px;
}
.p p {
  
  margin-top: 10px;
  font-size: 15px;
  width: 50%;
  margin: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  border-right:10px;
  color: #4e4e4e;
}
.footer {
  
  padding: 70px 0;
}
.container {
  max-width: 1170px;
  margin: auto;
  
}
.row {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer-col {
  background-color: white;
  width: 33%;
  padding: 0 15px;
  margin: 1px;
}
.footer-col h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 20px;
  position: relative;
  
}
.footer ul li {
  margin-bottom: 10px;
  
}
.footer ul li a {
  color: #253f63;
  text-decoration: none;
  font-weight: 600;
  display: block;
  
}
.socialLinks {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  justify-content: center;
  margin-bottom: 2rem;
  margin: auto;
  margin-top: ;
  
}
.socialLinks a {
  margin: 8px;
  
}
.card {
  width: 100%;
  display: flex;
  max-width: 400px;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.card-img img {
  height: 33px;
}
