* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
section {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f8f8f8;
  display: block;
}
.containe {
  transition-property: all;
  transition-duration: 600ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background: #f8f8f8;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

input {
  display: none;
}
label {
  display: flex;
  align-items: center;
  flex-direction: column;
}
label h2 {
  font-family: "Montserrat";
  cursor: pointer;
  color: #4e4e4e;
  position: relative;
  text-align: center;
  font-weight: 900px;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 35px;
}
span {
  color: #ff3333;
}
.paragraph {
  opacity: 1;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1, 5rem;
}
.graph {
  max-width: 580px;
  color: #4e4e4e;
  font-size: 0.99rem;
  font-family: open sans;
  font-weight: 600;
  line-height: 1.5;
}
.paragr {
  font-size: 30px;
  font-family: open sans;
  font-weight: bold;
}
h3 {
  max-width: 580px;
  color: #4e4e4e;
  font-size: 0.99rem;
  font-family: open sans;
  font-weight: 600;
  line-height: 1.5;
}
.btn_container{
  width: 100%;
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: gray;
  border-radius: 2rem;
  margin: 0px auto;
}

.btn1 {
  cursor: pointer;
  color: #ffffff;
  background: #ff3333;
  font-weight: bold;
  border-radius: 2rem;
  padding: 15px;
  box-shadow: none;
  border: none;
  width: 210px;
}
.card-content {
  display: none;
  padding: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  animation: card-content 0.25s ease-in-out;
  overflow: hidden;
  width: 850px;
}
.card-content a {
  display: inline-block;
  align-items: center;
  text-align: center;
}
input:checked ~ .card-content {
  display: block;
}
@keyframes card-content {
  from {
    height: 20px;
  }
  to {
    height: auto;
  }
}

a {
  text-decoration: none;
  color: black;
}
.form {
  background-color: #c9c5ff;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row_form {
}
.mail {
  display: inline-block;
}
.seuNone {
  display: inline-block;
}
.paragra {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0px;
}
.form button {
  font-size: 20px;
  background: #424242;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  color: white;
  background: #424242;
  border: 0.995674px solid #ececec;
  box-sizing: border-box;
  border-radius: 60px;
  padding: 7px;
  width: 150px;
}
.mail {
  margin: 50px;
}
.form input {
  width: 320px;
  padding: 12px;
  margin: 10px;
  font-size: 16px;
}
.p p {
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  color: #4e4e4e;
}
.footer {
  padding: 70px 0;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer-col {
  background-color: white;
  width: 33%;
  padding: 0 15px;
  margin: 1px;
}
.footer-col h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 20px;
  position: relative;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer ul li a {
  color: #253f63;
  text-decoration: none;
  font-weight: 600;
  display: block;
}
.socialLinks {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  justify-content: center;
  margin-bottom: 2rem;
  margin: auto;
  margin-top: ;
}
.socialLinks a {
  margin: 8px;
}
.card {
  width: 100%;
  display: flex;
  max-width: 400px;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.card-img img {
  height: 33px;
}
